.siema {
    transition: opacity .2s ease;
    margin-left: calc( var( --item-gap ) / -2 );
    margin-right: calc( var( --item-gap ) / -2 );
}
.siema .gone {
    opacity:0;
    transition: opacity .2s ease;
}

.siema a > * {
    pointer-events: none !important;
}
.siema > div > div article.elementor-post {
    width:100%;
    margin-top: 0;
    padding-right: calc( var( --item-gap ) / 2 );
    padding-left: calc( var( --item-gap ) / 2 );
}
.elementor-slider-addon--align-left .elementor-slider-addon-item-content {
    text-align: left;
}
.elementor-slider-addon--align-right .elementor-slider-addon-item-content {
    text-align: right;
}
.elementor-slider-addon--align-center .elementor-slider-addon-item-content {
    text-align: center;
}
