.siema {
    transition: opacity .2s ease;
    margin-left: calc( var( --item-gap ) / -2 );
    margin-right: calc( var( --item-gap ) / -2 );
}
.siema .gone {
    opacity:0;
    transition: opacity .2s ease;
}

.siema a > * {
    pointer-events: none !important;
}
.siema > div > div article.elementor-post {
    width:100%;
    margin-top: 0;
    padding-right: calc( var( --item-gap ) / 2 );
    padding-left: calc( var( --item-gap ) / 2 );
}

.elementor-slider-addon-item{
    display: grid;
}
.elementor-slider-addon-item.content-above-thumbnail > .elementor-slider-addon-item-thumbnail {
    order: 2;
}

.elementor-slider-addon-item-content{
    display: grid;
}

.elementor-slider-addon--align-left .elementor-slider-addon-item-content {
    text-align: left;
}
.elementor-slider-addon--align-right .elementor-slider-addon-item-content {
    text-align: right;
}
.elementor-slider-addon--align-center .elementor-slider-addon-item-content {
    text-align: center;
}

.elementor-slider-addon-arrow--align-left > .elementor-widget-container{
    text-align: left;
}
.elementor-slider-addon-arrow--align-center > .elementor-widget-container{
    text-align: center;
}
.elementor-slider-addon-arrow--align-right > .elementor-widget-container{
    text-align: right;
}

.elementor-slider-addon-arrow--position-around .elementor-slider-addon-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.elementor-slider-addon-arrow--position-around .elementor-slider-addon-arrow-left{
    left: 0;
}
.elementor-slider-addon-arrow--position-around .elementor-slider-addon-arrow-right{
    right: 0;
}

.elementor-slider-addon-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.elementor-slider-addon-item-thumbnail{
    display:flex;
    justify-content: center;
}

.elementor-slider-addon-item-content__read-more{
    display:inline-flex;
    align-items: center;
}
